<script type='text/javascript'>
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap');

        var azrieliLoc = new Microsoft.Maps.Location(32.075069, 34.790840);
        var comanLoc = new Microsoft.Maps.Location(31.968910, 34.770729);


        //Create custom Pushpin
        var azrieliPin = new Microsoft.Maps.Pushpin(azrieliLoc, {
            title: 'MyRecipes',
            subTitle: 'Azrieli',
            text: '1'
        });

         var colmanPin = new Microsoft.Maps.Pushpin(comanLoc, {
            title: 'MyRecipes',
            subTitle: 'College Of Management',
            text: '2'
        });

        map.entities.push([azrieliPin, colmanPin]);

        $('#azrieli').click(() => {
            map.setView({
                center: azrieliLoc,
                zoom: 15
            });
        })

        $('#colman').click(() => {
            map.setView({
                center: comanLoc,
                zoom: 15
            });
        })
    }
</script>

<div class="d-flex flex-column justify-content-center align-items-center">

    <h3>@ViewBag.Message</h3>

    <address>
        <span class="branch-desc" id="azrieli">
            <b>Azrieli Mall</b>
            Menahem Begin 132, Tel Aviv
        </span>
    </address>

    <address>
        <span class="branch-desc" id="colman">
            <b>College of Management</b>
            Eli Visel 2, Rison Letzion
        </span>
    </address>

    <div id="myMap"></div>

    <div class="d-flex flex-row ">
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a> |
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>

    </div>
    <aside id="aside">Not available on weekends</aside>
</div>


