
@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<form action="/Recommendation/Classify" method="post"> 
    <label>Ingridents</label>
    <input type="text" name="Ingrediants"/>
    <button type="submit">Submit</button>
</form>

