@font-face {
    font-family: Segoe UI;
    src: url("../Content/Fonts/AnticSlab-Regular.ttf") format('truetype');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#sub-title {
    color: gray;
}

.footer-text {
    text-shadow: 2px 2px #dcdada;
    font-size: small;
    color: gray;
}

#myMap {
    position: relative;
    width: 600px;
    height: 400px;
    border: 1px black solid
}

.loc-btn {
    border-radius: 40%;
    border: none;
}

.loc-ico {
    font-size: 20px;
}

.branch-desc {
    transition: color 1s;
}

.branch-desc:hover {
    color: lightgray;
    cursor: pointer;
}

#about-text {
    column-count: 3;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightpink;
}

#aside {
    color: black;
    font-size: 12px;
    font-style: italic;
}

#canvas {
    padding-left: 5px;
}